* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v1_534 {
  width: 100%;
  height: 2037px;
  background: rgba(217,204,231,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_545 {
  width: 100%;
  height: 164px;
  background: rgba(69,59,40,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_546 {
  width: 398px;
  height: 30px;
  background: url("../images/v1_546.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 48px;
  opacity: 1;
  position: absolute;
  top: 56px;
  left: 962px;
  overflow: hidden;
}
.v1_547 {
  width: 100px;
  color: rgba(246,246,244,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v1_548 {
  width: 114px;
  color: rgba(246,246,244,1);
  position: absolute;
  top: 0px;
  left: 148px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v1_549 {
  width: 88px;
  color: rgba(246,246,244,1);
  position: absolute;
  top: 0px;
  left: 310px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v1_552 {
  width: 86px;
  color: rgba(246,246,244,1);
  position: absolute;
  top: 67px;
  left: 80px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v13_90 {
  width: 111px;
  height: 101px;
  background: url("../images/v13_90.png");
  opacity: 1;
  position: absolute;
  top: 31px;
  left: 183px;
  border: 6px solid rgba(118,63,177,0.5400000214576721);
}
.v4_288 {
  width: 100%;
  height: 212px;
  background: rgba(69,59,40,1);
  opacity: 1;
  position: absolute;
  top: 1825px;
  left: 0px;
  overflow: hidden;
}
.v4_289 {
  width: 155px;
  color: rgba(246,246,244,1);
  position: absolute;
  top: 52px;
  left: 80px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v4_290 {
  width: 184px;
  height: 62px;
  background: url("../images/v4_290.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 154px;
  left: 80px;
  overflow: hidden;
}
.v4_291 {
  width: 40px;
  height: 40px;
  background: url("../images/v4_291.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 8px 8px;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  overflow: hidden;
}
.v4_292 {
  width: 24px;
  height: 24px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 8px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v4_296 {
  width: 40px;
  height: 40px;
  background: url("../images/v4_296.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 8px 8px;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 48px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  overflow: hidden;
}
.v4_297 {
  width: 24px;
  height: 24px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 8px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v4_301 {
  width: 40px;
  height: 40px;
  background: url("../images/v4_301.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 8px 8px;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 96px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  overflow: hidden;
}
.v4_302 {
  width: 24px;
  height: 24px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 8px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v4_306 {
  width: 40px;
  height: 40px;
  background: url("../images/v4_306.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 8px 8px;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 144px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  overflow: hidden;
}
.v4_307 {
  width: 24px;
  height: 24px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 8px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v7_193 {
  width: 502px;
  color: rgba(2,35,4,1);
  position: absolute;
  top: 458px;
  left: 335px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Inder;
  font-weight: Regular;
  font-size: 60px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
